@tailwind base;
@tailwind components;
@tailwind utilities;

/*Colors*/
:root {
  --background-color: white;
  --header-color: white;
  --sidebar-color: #FAFAFA;
  --border-color: #e5e7eb;
  --overlay-color: #e0e0e0;
  --div-color: #e7e7e7;
  --heading1: #1a1a1a;
  --text1: #555555;
  --text2: #666666;
  --text3: #aaaaaa;
  --text4: black;
  --text5: white;
  --gray6: #888888;
  --red: black;
  --orange1: #ec4e20;
  --yellow1: #ff9505;
  --blue1: #016fb9;
}

[data-theme = "dark"]{
  --background-color: #212121;
  --header-color: #212121;
  --sidebar-color: #1D1D1D;
  --border-color: #2C2C2C;
  --overlay-color: #2D2D2D;
  --div-color: #1a1a1a;
  --heading1: white;
  --text4: white;
  --text5: black;
  --red: red;
  --text1: #FAFAFA 
}

.heading{
  color: var(--heading1);
  font-size: 30px;
  font-weight: 600;
}

.text1{
  color: var(--text1);
}

.text2{
  color: var(--text2);
}

.text4{
  color: var(--text4);
}

.red{
  color: var(--red);
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  height: 100vh;
  width: 100vw;
}

/*Builder component css*/

.Dashboard-height {
  display: flex;
  height: calc(100vh - 60px);
}

/*DashHeader css*/

.dashHeader{
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--header-color);
}

.searchbar {
  height: 60px;
  display: flex;
  align-items: center;
}

.searchbarBox {
  width: 25rem;
  padding-left: 40px;
  border-radius: 50px;
  padding-top: 0.5rem;
  padding-right: 10px;
  padding-bottom: 0.5rem;
  border-width: 1px;
  border-style: solid;
  border-color: lightslategray;
}

.iconsbar {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.CompanyName {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: Kanit;
}

.CompanyLogo {
  border-radius: 50%;
  padding-bottom: 4px;
}

/*CreateButton css*/

.createDiv {
  font-size: 1.5rem;
}

.createButtonDiv {
  height: 40px;
  width: 400px;
  padding-left: 5px;
}

.createDescButtonDiv {
  display: flex;
  height: 230px;
  width: 400px;
  margin-top: 10px;
}

.tag-style {
  display: inline-flex;
  border-radius: 9999px;
  max-width: 100%;
  padding: 4px 8px;
  font-size: 12px;
  cursor: pointer;
  color: #000000;
}

.tag-style:hover {
  opacity: 80%;
}

/*ProfileButton css*/

.profileOpenButtonDiv {
  background-color: white;
  height: 300px;
  width: 230px;
  margin-top: 60px;
  box-shadow: 10px black;
  border-radius: 10px;
  position: fixed;
  top: 0;
  right: 19px;
  z-index: 1000;
  user-select: none;
}

.profileButtonHeight {
  width: 210px;
  cursor: pointer;
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.profileButtonHeight:hover {
  background-color: lightgray;
}

/*MessageButton css*/

.messagepopup {
  overflow: hidden;
  background-color: white;
  height: 300px;
  width: 350px;
  border-radius: 10px;
  margin-top: 60px;
  border: 1px solid var(--gray3);
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 60px;
  z-index: 1000;
  user-select: none;
}

.messagepopupDivide {
  display: flex;
  gap: 10px;
}

.messagepopupNotif {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--gray3);
  cursor: pointer;
  height: 50px;
  width: 90%;
}

.messagepopupNotif:hover {
  border-top-left-radius: 10px;
  background-color: #aaaaaa;
}

.messagepopupMess {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--gray3);
  cursor: pointer;
  height: 50px;
  width: 90%;
}

.messagepopupMess:hover {
  border-top-right-radius: 10px;
  background-color: #aaaaaa;
}

.messagepopupItems {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/*DashCenter css*/

.dashCenter {
  display: flex;
  padding: 10px;
  flex-direction: column;
  min-width: 80%;
  width: 100%;
}

.dashCenterName {
  width: auto;
  font-size: 20px;
  margin-bottom: 10px;
  min-width: 20px;
  color: #353531;
}

/*DashCard css*/

.dashcardDiv {
  width: 256px;
  height: auto;
  border-radius: 10px;
  border-width: 1px;
  cursor: pointer;
  background-color: white;
}

.dashcardDiv:hover {
  background-color: #f3f3f3;
}

.dashCard {
  height: 120px;
  width: 10.5rem;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  color: #000000;
  border-style: solid;
  border-color: #dddddd;
  border-width: 1px;
  background-color: white;
}

/*ProgressBar css*/

.progressBarContainer {
  height: 1.3rem;
  width: auto;
  border-radius: 16px;
  background-color: lightgray;
}

.progressBarFill {
  height: 20px;
  border-radius: 16px;
  transition: width 0.5s ease-out;
}

/*ItemsInventory css*/

.itemsContainer {
  height: 200px;
  width: 200px;
  background-color: lightgray;
}

/*DashTab css*/

.dashTab {
  width: 31.3rem;
  height: 300px;
  border-radius: 10px;
  background-color: rgb(255, 252, 252);
}

/*DashTab Card css*/

.dashTabCard {
  height: 300px;
  width: 10.5rem;
  border-radius: 10px;
  background-color: white;
}

/*Dashboard Layout*/

.dashboard-layout {
  height: 100vh;
  width: 100vw;
}

.dash-body {
  display: flex;
}

.main-content {
  flex: 1;
  width: 100%;
  height: calc(100vh - 60px);
  background-color: var(--background-color);
}

.dash-body {
  display: flex;
  height: calc(100vh - 60px);
  flex: 1;
}

/*Sidebar*/
.sidebar {
  width: 250px;
  display: flex;
  flex-direction: column;
  background-color: var(--sidebar-color);
  height: 100vh;
  font-size: 12px;
  border-right: 1px solid var(--border-color);
}

::-webkit-scrollbar {
  width: 5px;
}

.sideoptions {
  border: black;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: start;
  border-radius: 5px;
  height: 40px;
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  color: var(--gray6);
  cursor: pointer;
}

.sideoptions:hover {
  background-color: var(--overlay-color);
}

.sideoptionsSpread {
  border-radius: 5px;
  height: 40px;
  width: 180px;
}

.sidebar-profile-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    cursor: pointer;
    border-radius: 4px; 
    background-color: var(--sidebar-color);
    position: relative;
    padding: 12px; 
}

.sideoptionsSpread:hover {
  background-color: white;
}

.Popup {
  height: 100px;
  width: 100px;
  position: absolute;
  z-index: 10000;
  background-color: #ecebeb;
  right: 2px;
  border-radius: 5px;
}

.parent {
  /* Replace with your parent selector, e.g., .row.border-bottom... */
  display: flex;
}

.column {
  /* Replace with your column selector, e.g., .col-md-3 */
  flex: 1 0 20%; /* Grow: 1, Shrink: 0, Basis: 25% */
}

.columnLarge {
  flex: 1 0 45.5%;
}

@media (max-width: 1630px) {
  .Newsfeed {
    width: 250px;
  }
}

@media (max-width: 1380px) {
  .Newsfeed {
    display: none;
  }
}

/*-----------------------------------------------*/
/*Task page*/

.task-container {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 50px;
  display: flex;
  overflow-y: scroll;
}

.task-child {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task-title-header {
  width: max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
}

.task-title {
  color: var(--gray3);
  margin-bottom: 30px;
  font-size: 30px;
  width: 100%;
}

.task-body {
  overflow-y: scroll;
  height: auto;
  margin: 0 63px 0 0;
}

.task-input {
  height: 40px;
  width: 600px;
  border-radius: 20px;
  padding: 15px;
  padding-left: 35px;
  outline: none;
  border: 1px solid var(--gray3);
  background-color: var(--overlay-color);
  position: relative;
}

.task-button-1 {
  background-color: var(--overlay-color);
  color: var(--text1);
  padding: 6px;
  font-size: 15px;
  border-radius: 10px;
  margin-left: 8px;
}

.input-main {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.task-div {
  height: max-content;
  width: 600px;
  padding: 3px;
  margin-bottom: 10px;
  background-color: rgb(121, 121, 9);
}

.task-div-child {
  height: fit-content;
  padding: 10px 10px 5px 10px;
  background-color: white;
  border-radius: 10px 0 0 0;
}

.task-options {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.task-tags {
  margin: 5px 0 30px 0;
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  gap: 5px;
  transition: all 10 ease-in-out;
}

.task-input-tag {
  position: absolute;
  top: -30px;
}

.more-button {
  border-radius: 9999px;
  background-color: lightgray;
  margin-left: 5px;
  cursor: pointer;
}

.task-length-limit {
  display: flex;
  justify-content: space-between;
  margin: 0 70px 0 12px;

  font-size: 13px;
  font-weight: 500;
  color: var(--gray3);
}

.task-content-todo {
  display: flex;
  flex-wrap: wrap;
}

.update-input {
  width: 100%;
  overflow-y: auto;
  resize: vertical;
  min-height: 4rem;
}

.update-input-button {
  width: 50px;
  height: 30px;
  background-color: green;
  color: white;
  cursor: pointer;
  border-radius: 50px;
}

/*Task-Svg*/
.task-svg-1 {
  position: absolute;
  top: 20%;
  left: 10px;
  pointer-events: none;
}

.task-svg-2 {
  cursor: pointer;
}


/*--------------------------------------------------------------------------------*/
/* RewardsPage*/
.rewards-container {
  width: 55rem;
  overflow-y: scroll;
}

/* Badge-component */

.component-header-text {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 600;
  color: var(--gray3);
}

.ml60 {
  margin-left: 60px;
}

.badge-container {
  padding: 10px;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 30px;
}

.badge {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 11.5rem;
  width: 145px;
  border-radius: 15px;
  background-color: white;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.badge:hover {
    filter: opacity(80%);
}

.badge-header {
  margin: 10px 0 10px 0;
}

.badge-img {
  margin: 0 0 0 0;
}

.badge-footer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 0 0 15px 15px;
  background-color: #e0e0e0;
}

.badge-tags {
  font-size: 13px;
}

.badge-name {
  font-size: 12px;
  font-weight: 500;
  color: var(--gray3);
}

.badge-date {
  font-size: 10px;
  color: var(--gray8);
}

.badge-viewmore{
  margin-right: 23px;
  display: flex;
  align-items: end;
  color: var(--blue1);
  font-size: 12px;
}

.achievement-title {
  font-weight: 500;
}

.achievement-count {
  font-size: 12px;
}

.badge-tag {
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 50px;
  font-size: 10px;
  color: white;
}

.badge-common{
    background-color: darkorange;
}

.badge-rare{
    background-color: red;
}

.badge-ultra{
    background-color: purple;
}

/* Profile Page */

.profile-container{
  width: 45rem;
  position: relative;
  overflow-y: scroll;
}

.profile-name{
  font-size: 25px;
  font-weight: 500;
  color: var(--gray3);
}

.profile-email{
  color: var(--gray7)
}

.profile-picture{
  position: relative;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  background-size: cover;
  background-position: center;
  background-color: black;
}

.profile-status{
  position: absolute;
  bottom: 5px;
  right: 5px;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: white;
}

.profile-link-add{
  cursor: pointer;
  height: max-content;
  width: max-content;
  display: flex;
  align-items: center;
  border-radius: 20px;
  font-size: 13px;
  padding: 5px;
  font-weight: 500;
  color: var(--gray3);
  background-color: var(--gray8);
}

.modal-overlap{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
}

.profile-input-link{
  height: 12rem;
  width: 30rem;
  z-index: 1001;
  overflow-y: hidden;
  border-radius: 15px;
  background-color: white;
}

.profile-input-close{
  display: flex;
  justify-content: end;
  cursor: pointer;
}

.link-input-box{
  height: 50px;
  width: 400px;
  padding: 10px;
  outline-color: var(--gray7);
  border-radius: 10px;
  background-color: var(--gray8);
}

.link-container{
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.link-style{
  height: 30px;
  width: 30px;
  cursor: pointer;
  border-radius: 100%;
  background-size: cover;
  background-position: center;
}

.link-button{
  background-color: green;
  border-radius: 20px;
  font-size: 12px;
  padding: 10px;
  color: white;
}

.iconClick{
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform: translateY(-3px);
  border: 2px solid var(--gray3);
}

.profile-edit-button{
  height: max-content;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
  color: var(--gray3);
  font-weight: 500;
  background-color: var(--gray8);
  font-size: 14px;
}

.profile-info-container{
  width: 100%;
  display: flex;
  gap: 20px;
}

.profile-general-info{
  width: max-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 13px;
}

.profile-general{
  font-size: 20px;
  font-weight: 500;
}

.about-add-button{
  color: #016fb9;
  font-size: 12px;
  display:flex;
  align-items: center;
  gap:2px
}

.motivation-info{
  position: absolute;
  bottom: 10px;
  left: 95%;
  cursor: pointer;
}

.motivation-info-tip{
  position: absolute;
  visibility: hidden;
  flex-wrap: wrap;
  bottom: 10px;
  left: 5px;
  width: 150px;
  padding: 5px;
  border-radius: 5px;
  color: white;
  opacity: 0;
  transition: opacity 1.3s ease;
  background-color: var(--gray4);
}

.motivation-info:hover .motivation-info-tip{
  visibility: visible;
  opacity: 1;
}

.notes-container{
  width: 50%;
}

.profile-achievement-text{
  width: 80%;
  font-size: 20px;
  font-weight: 500;
}

.profile-achievement-container{
  height: 80px;
  width: 80%;
  border-radius: 5px;
  background-color: var(--gray9);
}

.profile-todo-container{
  width: 100%;
  height: max-content;
  padding-top: 10px;
  padding-bottom: 10px;
}

.profile-todo-text{
  font-size: 20px;
  font-weight: 500;
}

.profile-note{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 130px;
  border-radius: 5px;
  background-color: var(--gray9);
}

.profile-note-add{
  padding: 5px;
  cursor: pointer;
  border-radius: 100%;
  background-color: var(--gray10);
}

.profile-note-add:hover{
  background-color: var(--gray8);
}

hr{
  margin: 10px 0 10px 0;
  height: 2px;
  border-color: var(--border-color);
}

/*Calender Page*/

.calendar-container{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.calendar-header{
  height: max-content;
  display: flex;
  justify-content: space-between;

}

.calendar-date{
  display: flex;
  flex-direction: column;
}

.calendar-today{
  display: flex;
}

.calendar-today-div{
  height: 30px;
  width: 60px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  color: var(--text4);
  background-color: var(--overlay-color);
}

.calendar-weekly-day{
  display: flex;
  font-size: 12px;
  color: var(--text4);
  justify-content: center;
}

.calendar-weekly-div{
  height: 40px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #d6d5d5;
}

.calendar-big-body{
  display: grid;
  grid-template-rows: repeat(24 , 100px);
  position: relative;
}

.calendar-time{
  height: 24px;
  width: 64px;
  display: flex;
  user-select: none;
  justify-content: end;
  color: var(--text4);
}

.todo-item{
    background: gray;
    color: white;
    padding: 5px;
    border-radius: 4px;
    position: absolute;
    margin-left: 100px;
    opacity: 50%;
    z-index: 1;
}

.calendar-body{
  display: grid;
  grid-template-rows: repeat(6 , auto);
  grid-template-columns:repeat(7 , auto);
  gap: 10px;
}

.calendar-body div{
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  user-select: none;
}

.calendar-div{
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 280px;
  top: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid var(--gray5);
  border-radius: 5px;
  background-color: var(--div-color);
  z-index: 1001;
}

.calendar-current-date{
  color: white;
  padding: 0 2px 0 2px;
  color: var(--text5);
  background-color: var(--text1);
  border-radius: 100%;
}

/*Toggle Div*/

.toggle-div{
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: gray;
  cursor: pointer;
}

.toggle-day{
  background-color: #1D1D1D;
}

.toggle-night{
  background-color: white;
}

